<!DOCTYPE HTML>
<html ng-app="switchboardApp">
<head>
<base href="/Switchboard/">

<script src="js/forge-sha256.min.js"></script>


<link rel="stylesheet" href="css/skeleton.css">
<!-- Load angular from CDN  -->
<!-- script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script> -->
<script src="js/angular.min.js"></script>
<script src="js/angular-cookies.min.js"></script>

<!-- Font -->
<!--  link href='https://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'-->
<link href='css/font.css' rel='stylesheet' type='text/css'-->


<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<script src="js/directives.js"></script>

</head>



<body ng-controller="DeviceCtrl">
	<div ng-show="noAuth()" >
		<div class="container" style="max-width: 960px;">
				<h2>Switchboard</h2>	
			<div class="row region" >
				<div class="twelve columns">
					<label for="nameInput">Name</label>
     				 <input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:2em" ng-model="name">
				</div>
			</div>
			<div class="row region" >
				<div class="twelve columns">
					<label for="passwordInput">Password</label>
     				<input class="u-full-width" placeholder="Password" id="passwordInput" type="password" style="height:2em" ng-model="password">
				</div>
			</div>
			<input class="button-primary" value="Login" type="submit" ng-click="login()">
		</div>		
	</div>

	<div ng-show="!noAuth()">

		<div class="container" ng-show="!connected()">
			<div class="row region" >
				<div class="twelve columns error">
					<span>Connection problem</span>
				</div>
			</div>
		</div>
		<div class="container" ng-show="errormessage.length>0">
			<div class="row region" >
				<div class="twelve columns error">
					<div ng-repeat="msg in errormessage track by $index" ng-click="removeErrorMessage($index)">{{msg}}</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row region" >
				<div class="two columns">
					<button class="wide" ng-click="toggleActivePanel('patch')" ng-class="{selected:isActivePanel('patch')}">Patch</button>
				</div>
				<div class="two columns">
					<button class="wide" ng-click="toggleActivePanel('ignore')" ng-class="{selected:isActivePanel('ignore')}">Ignore</button>
				</div>
				<div class="two columns">
					<button class="wide" ng-click="toggleActivePanel('audio')" ng-class="{selected:isActivePanel('audio')}">Audio</button>
				</div>
				<div class="two columns">
					<button class="wide" ng-click="toggleActivePanel('sms')" ng-class="{selected:isActivePanel('sms')}">Text</button>
				</div>
				<div class="two columns" ng-show="issetup && !setting.isivrmode">
					<button class="wide" ng-click="toggleActivePanel('goal')" ng-class="{selected:isActivePanel('goal')}">Goals</button>
					&nbsp;
				</div>
				<div class="two columns" ng-show="issetup && setting.isivrmode" >
					<button class="wide" ng-click="toggleActivePanel('ivr')" ng-class="{selected:isActivePanel('ivr')}">IVR</button>
					&nbsp;
				</div>
				<div class="two columns">
					<button class="wide" ng-click="toggleActivePanel('settings')" ng-class="{selected:isActivePanel('settings')}">Settings</button>			
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
				&nbsp;
				</div>	
			</div>
			<div class="row" ng-show="!isActivePanel('goal') && !isActivePanel('ivr') && !isActivePanel('settings')&& !isActivePanel('defaults')">
				<div class="six columns region">
				
					<input ng-model="query" style="width:99%;" placeholder="All devices">
					<div style="float:right">
					<ul style="width:32px">
						<li style="overflow: hidden;" ng-repeat="device in devices | filter:query | orderBy:'name'" ng-class="{selected:device.selected}" ng-show="!hidden">
							<div ng-show="!device.hidden">
								<img src="images/multiselect.png" ng-click="toggleSelect(device)">
							</div>
						</li>
					</ul>
					</div>
					<ul>
						<li style="overflow: hidden;" ng-repeat="device in devices | filter:query | orderBy:'name'" ng-click="deviceSelect(device)" ng-class="{selected:device.selected}">
							<div ng-show="!device.hidden">
								<span>{{device.name}}</span>
								<span ng-show="device.group1"><img src="images/number1.png"></span>
								<span ng-show="device.group2"><img src="images/number2.png"></span>
								
								<span style="margin-left:10%;">{{device.progress}}</span>									
								<span style="float:right;">{{device.state}}</span>
								<span style="float:right; margin-right:10px;" ng-show="device.unreadmessages > 0">{{device.unreadmessages}}<img src="images/message.png"></span>
								<span style="float:right; margin-right:10px;" ng-show="device.recordings.length > 0">{{device.recordings.length}}<img src="images/recording.png"></span>
								<span style="float:left; margin-right:10px;" ng-show="device.direct"><img src="images/direct.png"></span>
							</div>
						</li>
						 
					</ul>
					<button ng-click="selectAuto('all')" ng-class="{selected:activeAuto=='all'}">All</button>
					<button ng-click="selectAuto('ring')" ng-class="{selected:activeAuto=='ring'}">Ringing</button>				
					<button ng-click="selectAuto('idle')" ng-class="{selected:activeAuto=='idle'}">Idle</button>
					<button ng-click="selectAuto('group1')" ng-class="{selected:activeAuto=='group1'}">Group 1
					</button>									
					<button ng-click="selectAuto('group2')" ng-class="{selected:activeAuto=='group2'}">Group 2
					</button>
					<button ng-click="selectAuto('progress')" ng-class="{selected:activeAuto=='progress'}">Progress
					</button>
					<span ng-click='toggleModal()' style="float:right; margin-left:10px;">Add</span>
					<span ng-click="updatestatus()" class="normal" style="float:right">Refresh</span>
						<modal-dialog show='modalShown' width='750px' height='60%'>
							<h2>Add a device</h2>
							<h4>It is important that you get the device number right.</h3>
							If you provide an incorrect number you may be legally liable for nuisance calls under the laws of your country.<br/>
							<a target="_window" href="http://consumers.ofcom.org.uk/phone/tackling-nuisance-calls-and-messages/recorded-message-marketing-calls/">OFCOM</a> is the regulatory body for the UK
							<p>Provide the number starting with the country code, but without the initial 0.<br/>
							For example, if your device phone number is +44 (0)1234 567890 then put 441234567890 here<p>
							<input "type="text" ng-model="edit.newdevice" style="width:80%; margin:10px;" placeholder="Device number">
							<button ng-click = "addDevice()">Add</button>							
						</modal-dialog>					
				</div>
				<div class="six columns region">
					
					<div ng-show="getNumDevicesSelected()==0 && isActivePanel('overview')">
						<h4>Overview</h4>
						<div>Phone or SMS the switchboard on <b>07782 961981</b></div>
						<h4>{{consoles.length}} console<span ng-show="consoles.length != 1">s</span> connected</h4>
						<li class="normal" style="overflow: hidden;" ng-repeat="console in consoles">
							Console: '<span>{{console.name}}</span>'
						</li>
						This console is <span ng-show="connected()" class='noerror'>connected</span><span ng-show="!connected()" class='error'>not connected</span>
						<h4>{{devices.length}} device<span ng-show="devices.length != 1">s</span> registered</h4>
							{{getNumDevicesInState("RING")}} ringing in<br/>
							{{getNumDevicesInState("CALL")}} being called<br/>
							{{getNumDevicesInState("BUSY")}} busy with a message<br/>
							{{getNumDevicesInState("IDLE")}} idle<br/>
						<h4>Performance</h4>
						{{audios.length}} audio file<span ng-show="audios.length != 1">s</span> available<br/>
						{{texts.length}} text file<span ng-show="texts.length != 1">s</span> available<br/>
						<span ng-show="!setting.isivrmode">
							{{goals.length}} goal<span ng-show="goals.length != 1">s</span> available<br/>
						</span>
						<span ng-show="setting.isivrmode">
							{{ivrsteps.length}} IVR step<span ng-show="ivrsteps.length != 1">s</span> available<br/>
						</span>
					</div>
					
					
					<div ng-show="getNumDevicesSelected()>0 && isActivePanel('overview')">
						<input ng-model="getSelectedDevice().name" style="width:60%;margin:10px;" placeholder="Label">
						<button ng-click = "saveDevice()">Rename device</button>
						<input ng-model="getSelectedDevice().progress" style="width:60%;margin:10px;" placeholder="Progress"> 
						<button ng-click = "saveProgress()">Save progress</button>
						<p>Number: {{getSelectedDevice().number}}<br>
						<button ng-show="issetup" ng-click = "resetSelectedDevice()" class="error">Unregister</button>
						<div ng-show="getSelectedDevice().cue">
							<h4><button ng-click = "playCue()" ng-class="{go:hasCue()}">Cue</button>							
							<span ng-show="getSelectedDevice().cue.text">
								Send text: '{{getSelectedDevice().cue.text.label}}'
							</span>
							<span ng-show="getSelectedDevice().cue.audio">
								Play audio '{{getSelectedDevice().cue.audio.name}}'
							</span>
							<button style="float:right" ng-click="togglegroup2()" ng-class="{go:getSelectedDevice().group2}">Group 2</button>		
							<button style="float:right" ng-click="togglegroup1()" ng-class="{go:getSelectedDevice().group1}">Group 1</button>		
							</h4>
						</div>
						
						<h4>Audit</h4>
						<li class="normal" style="overflow: hidden;" ng-repeat="a in getSelectedDevice().audit track by $index">
							<span>{{a}}</span>
						</li>
						<h4>Recordings</h4>
						<li class="normal" style="overflow: hidden;" ng-repeat="r in getSelectedDevice().recordings">
							<span><a href="{{r.url}}" target="_blank">{{r.duration}} secs</a> </span>
						</li>	
						<br/>
						
					</div>
					
					
					<div ng-show="isActivePanel('patch')">
						<h4>{{getNumDevicesSelected()}} devices selected</h4>
						Patch two devices, so that they can speak directly to each other.
						<br>
					
						<button ng-click = "patch()" ng-class="{go:getCanPatch() > 0}">Go</button>
						
					</div>
				
					<div ng-show="isActivePanel('ignore')">
						<h4>{{getNumNonIdleDevicesSelected()}} active devices selected</h4>
						Hang up any calls currently in progress to these devices
						<br>	
						
						<button ng-click = "ignore()" ng-class="{go:getNumNonIdleDevicesSelected() > 0}">Go</button>
						
					</div>
				
				
					<div ng-show="isActivePanel('audio')">
						
						<div ng-show="issetup">
							<h5>Upload a new audio file</h5>							
							<input type = "file" file-model = "myAudioFile"/><button ng-click = "uploadAudioFile()">Upload</button>							
						</div>
						<input ng-model="audioquery" style="width:80%;margin:10px;" placeholder="{{audios.length}} audio files">	
						<button ng-click = "broadcastAudio()" ng-class="{go:getNumIdleOrRingDevicesSelected() > 0 && activeAudio}">Call {{getNumIdleOrRingDevicesSelected()}}</button>
					
						<div>
						  <span ng-model="currentAudioFolder" ng-init="currentAudioFolder=''" >
						  	  <img src="images/folder.png"/> 
							  <span style="font-size:25px; color:#aaa; ">{{currentAudioFolder}}</span>
						  </span>
							<button ng-show="currentAudioFolder!=''" ng-click = "currentAudioFolder=''">Up</button>
							<button ng-show="issetup && !currentAudioFolder" ng-click = "addAudioMode=true">+</button>
							<div ng-show="addAudioMode">
							 	<input ng-model="addAudioFolder" style="width:70%;margin:10px;" placeholder="New directory name">
								<button ng-click = "addAudioFolderButton(addAudioFolder); addAudioMode=false;"/>OK<br/>
								<button ng-click = "addAudioMode=false;"/>Cancel</button>			 	
							</div>
						</div>
						<ul style="overflow-y: scroll; height:600px">
							<li ng-show="audio.folder==currentAudioFolder || audioquery.length > 0" style="overflow: hidden;" ng-repeat="audio in audios | filter:audioquery | orderBy:'name'" ng-click="selectAudio(audio)" ng-class="{selected:audio.name == activeAudio.name}">
								<span ng-show="audio.isFolder" ng-click='enterAudioFolder(audio)'><img src="images/folder.png"/></span>
								<span>{{audio.name}}</span>
								<span style="color:#aaa; margin-left:20px; font-size:smaller" ng-show="audioquery.length > 0 && audio.folder.length>0">(in <img src="images/folder.png"/>{{audio.folder}} )</span>
								<span style="float:right;" ng-show="issetup" ng-click="deleteAudio(audio)">Delete</span>
							</li>
						</ul>						
					</div>
					
					<div ng-show="isActivePanel('sms')">
						<div ng-show="issetup" > 								
							<input ng-model="currentLabel" style="width:85%;margin:10px; font-size:2em; height:2em;" placeholder="Label">
							<button style="float:right;" ng-click = "addText()" ng-show="issetup">New</button>
						</div>
						<textarea ng-trim="false" style="width:95%; margin:10px; font-size:1.5em; height:8em;" "type="text" ng-model="currentText"></textarea>	
						<br/>
						<button ng-click = "broadcastText()" ng-class="{go:getNumDevicesSelected() > 0 && currentText}">Send {{getNumDevicesSelected()}}</button>
						<span>({{currentText.length}} characters, {{1+ ((currentText.length - 81) / 160) | number:0}} texts)</span>
						<button style="float:right;" ng-show="issetup" ng-click="saveText()" ng-class="{go:(currentText.length>0 && currentLabel.length>0)}">Save</button>
						
						<br/>
						<input ng-model="smsquery" style="width:80%;margin:10px;" placeholder="{{texts.length}} text files">
												
						
						<ul style="overflow-y: scroll; height:400px">
							<li style="overflow: hidden;" ng-repeat="text in texts | filter:smsquery | orderBy:'label'" ng-click="selectText(text)" ng-class="{selected:text.label == activeText.label}">
								<div> 								
									<span>{{text.label}}</span>
									<span style="float:right;" ng-show="issetup" ng-click="deleteText(text)">Delete</span>		
								</div>		
							</li>
						</ul>
						
						
						<br/>
					
						
					</div>
				</div>
			
			</div>
			<div class="row" ng-show="isActivePanel('goal') || isActivePanel('ivr') || isActivePanel('settings') || isActivePanel('defaults')">
				<div class="twelve columns region">
				
				
					<div class="container" ng-show="isActivePanel('goal')">
						<h4>Goals</h4>
						<button ng-click="addGoal()">Add</button>					
						
						<ul style="overflow-y: scroll; height:300px">
							<li style="overflow: hidden;" ng-repeat="goal in goals track by goal.name" ng-click="selectGoal(goal)" ng-class="{selected:goal.name == activeGoal.name}">
								<span>{{describeGoal(goal)}}</span>
								<span style="float:right;" ng-show="issetup" ng-click="deleteGoal(goal)">Delete</span>
							</li>
						</ul>
						
			
						<div class="row region"  ng-show="activeGoal">
							<button ng-click="saveGoal()" class="go" style="float:right">Save</button>						
							<h4>When...</h4>
							<div class="two columns">
								<label><input type="radio" ng-model="activeGoal.srctype" value="audiostart"> Audio starts</label>
								<label><input type="radio" ng-model="activeGoal.srctype" value="audiofinish"> Audio finishes</label>
								<label><input type="radio" ng-model="activeGoal.srctype" value="textsent"> Text sent</label>
								<label><input type="radio" ng-model="activeGoal.srctype" value="textreceived"> Text received</label>								
								<label><input type="radio" ng-model="activeGoal.srctype" value="registeraudiofinish"> Registering by phone</label>
								<label><input type="radio" ng-model="activeGoal.srctype" value="registertext"> Registering by text</label>
							</div>
							<div class="three columns" ng-show="activeGoal.srctype=='audiostart' || activeGoal.srctype=='audiofinish' || activeGoal.srctype=='record'">
								<input ng-model="audioquerygoalsrc" style="width:90%;margin:10px;" placeholder="Filter audio files">
								<ul style="overflow-y: scroll; height:300px">
									<li style="overflow: hidden;" ng-repeat="audio in audios | filter:audioquerygoalsrc | orderBy:'name'" ng-click="activeGoal.activeAudioGoalSrc=audio" ng-class="{selected:audio.name == activeGoal.activeAudioGoalSrc.name}">
										<img ng-show="audio.isFolder" src="images/folder.png"/></span><span>{{audio.name}}</span>
									</li>
								</ul>
							</div>	
							<div class="three columns" ng-show="activeGoal.srctype=='textsent'">
								<input ng-model="textquerygoalsrc" style="width:90%;margin:10px;" placeholder="Filter text files">
								<ul style="overflow-y: scroll; height:300px">
									<li style="overflow: hidden;" ng-repeat="text in texts | filter:textquerygoalsrc | orderBy:'label'" ng-click="activeGoal.activeTextGoalSrc=text" ng-class="{selected:text.label == activeGoal.activeTextGoalSrc.label}">
										<span>{{text.label}}</span>
									</li>
								</ul>
							</div>
							<div class="three columns" ng-show="activeGoal.srctype=='textreceived'">
								<input ng-model="activeGoal.textsrc" style="width:90%;margin:10px;" placeholder="Text to match">								
							</div>							
							<div class="one column">
								Wait for...<br/>
								<input ng-model="activeGoal.delaytime" placeholder="seconds" style="width:100px; font-size:1em;"> seconds
								<br/>and then...
							</div>
							<div class="two columns">
								<label><input type="radio" ng-model="activeGoal.desttype" value="playaudio"> play audio</label>
								<label><input type="radio" ng-model="activeGoal.desttype" value="sendtext"> send text</label>
								<label><input type="radio" ng-model="activeGoal.desttype" value="setprogress"> set progress</label>								
								<label ng-show="activeGoal.srctype=='audiofinish'"><input type="radio" ng-model="activeGoal.desttype" value="record"> record message </label>
								<label><input type="radio" ng-model="activeGoal.desttype" value="cuetext"> cue text</label>															
								<label><input type="radio" ng-model="activeGoal.desttype" value="cueaudio"> cue audio</label>															
							</div>
							<div class="three columns" ng-show="activeGoal.desttype=='playaudio' || activeGoal.desttype=='cueaudio'">
								<input ng-model="audioquerygoaldest" style="width:90%;margin:10px;" placeholder="Filter audio files">
								<ul style="overflow-y: scroll; height:300px">
									<li style="overflow: hidden;" ng-repeat="audio in audios | filter:audioquerygoaldest | orderBy:'name'" ng-click="activeGoal.activeAudioGoalDest=audio" ng-class="{selected:audio.name == activeGoal.activeAudioGoalDest.name}">
										<img ng-show="audio.isFolder" src="images/folder.png"/></span><span>{{audio.name}}</span>
									</li>
								</ul>
							</div>
							<div class="three columns" ng-show="activeGoal.desttype=='sendtext' || activeGoal.desttype=='cuetext'">
								<input ng-model="textquerygoaldest" style="width:90%;margin:10px;" placeholder="Filter text files">
								<ul style="overflow-y: scroll; height:300px">
									<li style="overflow: hidden;" ng-repeat="text in texts | filter:textquerygoaldest | orderBy:'label'" ng-click="activeGoal.activeTextGoalDest=text" ng-class="{selected:text.label == activeGoal.activeTextGoalDest.label}">
										<span>{{text.label}}</span>
									</li>
								</ul>
							</div>
							<div class="three columns" ng-show="activeGoal.desttype=='setprogress'">
								<input ng-model="activeGoal.setprogress" style="width:90%;margin:10px;" placeholder="Progress">								
							</div>							
							<div class="three columns" ng-show="activeGoal.srctype=='audiofinish' && activeGoal.desttype=='record'">
								<input ng-model="activeGoal.recordtime" style="width:90%;margin:10px;" placeholder="Seconds">								
							</div>							
											
						</div>	
						
					</div>
					
					
	
					<div ng-show="isActivePanel('ivr')">
						<button ng-click="addIvrstep()">Add</button>	
						<input ng-model="queryivrstepsrc" style="width:90%;margin:10px;" placeholder="Filter ivr steps">				
						
						<ul style="overflow-y: scroll; height:300px">
							<table border="0" width="100%" style="overflow: hidden;margin:0; padding:0;" ng-repeat="ivrstep in ivrsteps | filter:queryivrstepsrc | orderBy:'name'" ng-click="selectIvrstep(ivrstep)" ng-class="{selected:ivrstep.name == activeIvrstep.name}">
								<tr>
								<td ng-show="ivrstep.hasError"><img src="images/warning.png" title="{{ivrstep.error}}" alt="{{ivrstep.error}}"/></td>
								<td style="width:20%; font-size:200%;">{{nameIvrstep(ivrstep)}}</td>
								<td style="width:70%; font-size:150%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{describeIvrstep(ivrstep)}}</td>
								<td style="float:right;"><span ng-show="ivrstep.name != 'start' && ivrstep.name != 'resume'  && ivrstep.name != 'callback'" ng-click="deleteIvrstep(ivrstep)">Delete</span></td>
								</tr>
							</table>
						</ul>
						
						<!-- Ivr detail panel -->
						<div class="row region"  ng-show="activeIvrstep && activeIvrstep.name != 'callback'">
							<button ng-click="saveIvrstep()" class="go" style="float:right">Save</button>						
							<input ng-model="activeIvrstep.name" style="width:90%;margin:10px;" placeholder="Step name" ng-disabled="activeIvrstep.name=='start' || activeIvrstep.name=='resume'">
							<div class="two columns">
								<h4>This step...</h4>
								<label><input type="radio" ng-model="activeIvrstep.steptype" value="playaudio"> Plays audio</label>
								<label ng-show="activeIvrstep.name!='resume'"><input type="radio" ng-model="activeIvrstep.steptype" value="sendtext">Sends a Text</label>	
								<label ng-show="activeIvrstep.name!='resume'"><input type="radio" ng-model="activeIvrstep.steptype" value="record"> Records</label>
								<label ng-show="activeIvrstep.name!='resume'"><input type="radio" ng-model="activeIvrstep.steptype" value="timer"> Starts a timer</label>	
							</div>
							
							<!--  Audio only subpanel -->
							<div ng-show="activeIvrstep.steptype=='playaudio'">
								<div class="four columns">
									<input ng-model="audioqueryivrstepsrc" style="width:90%;margin:10px;" placeholder="Filter audio files">
									<ul style="overflow-y: scroll; height:300px">
										<li style="overflow: hidden;" ng-repeat="audio in audios | filter:audioqueryivrstepsrc | orderBy:'name'" ng-click="activeIvrstep.audio=audio" 
										ng-class="{selected:audio.name == activeIvrstep.audio.name}">
											<img ng-show="audio.isFolder" src="images/folder.png"/></span><span>{{audio.name}}</span>
										</li>
									</ul>
								</div>	
								<div class="five columns">
									<h4>...then maps keys pressed to steps</h4>								
									<button ng-click="addIvrstepKey(activeIvrstep)" class="go" >Add</button>
									<ul style="overflow-y: scroll; height:300px">
										<li style="overflow: hidden;" ng-repeat="key in activeIvrstep.keys track by $index ">
											<select ng-model="key.key" style="width:100px; font-size:0.8em;">
											 	<option value="0">0</option>
											 	<option value="1">1</option>
											 	<option value="2">2</option>
											 	<option value="3">3</option>
											 	<option value="4">4</option>
											 	<option value="5">5</option>
											 	<option value="6">6</option>
											 	<option value="7">7</option>
											 	<option value="8">8</option>
											 	<option value="9">9</option>
											 	<option value="*">*</option>
											 	<option value="#">#</option>
											 	<option value="x">None</option>
											</select> ->
											<input ng-model="key.target" style="font-size:1em;">
											<button ng-click="deleteIvrstepKey(activeIvrstep, $index)" class="go" >Delete</button>
										</li>
										<!-- Special case for resume -->
										<li ng-show="activeIvrstep.name == 'resume'" >
											<select ng-model="activeIvrstep.specialkey" style="width:100px; font-size:0.8em;">
											 	<option value="0">0</option>
											 	<option value="1">1</option>
											 	<option value="2">2</option>
											 	<option value="3">3</option>
											 	<option value="4">4</option>
											 	<option value="5">5</option>
											 	<option value="6">6</option>
											 	<option value="7">7</option>
											 	<option value="8">8</option>
											 	<option value="9">9</option>
											 	<option value="*">*</option>
											 	<option value="#">#</option>
											 	<option value="x">None</option>
											</select> ->
											<span>Resumes from last step reached</span>
										</li>
										<div>Allowing <input ng-model="activeIvrstep.padding" style="width:20%;margin:10px;" placeholder="Seconds"> seconds to make a choice
										</div>
										<div>Looping <input ng-model="activeIvrstep.numloops" style="width:20%;margin:10px;" placeholder="number"> times if nothing selected
										</div>
									</ul>
								</div>	
							</div>											
							<!--  sending text subpanel -->
							<div ng-show="activeIvrstep.steptype=='sendtext'">
								<div class="four columns">
									<input ng-model="textqueryivrstepsrc" style="width:90%;margin:10px;" placeholder="Filter text files">
									<ul style="overflow-y: scroll; height:300px">
										<li style="overflow: hidden;" ng-repeat="text in texts | filter:textqueryivrstepsrc | orderBy:'name'" ng-click="activeIvrstep.text=text" 
										ng-class="{selected:text.name == activeIvrstep.text.name}">
											<span>{{text.name}}</span>
										</li>
									</ul>
								</div>	
								
								<div class="four columns">								
									<h4>...then goes to step</h4>
									<input ng-model="activeIvrstep.defaultkey">								
								</div>	
							</div>
							
							<!--  recording subpanel -->
							<div ng-show="activeIvrstep.steptype=='record'">							
								<div class="four columns">
									<h4>...for up to...</h4>
									<div><input ng-model="activeIvrstep.recordtime" style="width:40%;margin:10px;" placeholder="Seconds"> seconds
									</div>
									or until any one of these keys
									<div><input ng-model="activeIvrstep.finishonkey" style="width:40%;margin:10px;" placeholder="One or more keys"> is pressed
									</div>
								</div>
								<div class="four columns">								
									<h4>...then goes to step</h4>
									<input ng-model="activeIvrstep.defaultkey">								
								</div>
							</div>
							
							<!--  timer subpanel -->
							<div ng-show="activeIvrstep.steptype=='timer'">							
								<div class="four columns">
									<h4>...counting down...</h4>
									<input ng-model="activeIvrstep.recordtime" style="width:90%;margin:10px;" placeholder="Seconds"> seconds
								</div>
								<div class="four columns">								
									<h4>...then goes to step...</h4>
									<input ng-model="activeIvrstep.defaultkey">
									<h4>...jumping to this step when time runs out...</h4>
									<input ng-model="activeIvrstep.specialkey">
									<h4>...stopping the timer if these steps are reached</h4>
									<button ng-click="addIvrstepStopstep(activeIvrstep)" class="go" >Add</button>
									<ul style="overflow-y: scroll; height:300px">
										<li style="overflow: hidden;" ng-repeat="stopstep in activeIvrstep.stopsteps track by $index ">
											<input ng-model="stopstep.target" style="font-size:1em;">
											<button ng-click="deleteIvrStopstep(activeIvrstep, $index)" class="go" >Delete</button>
										</li>
									</ul>
								</div>
							</div>
						</div>	
						<!--  special detail cases -->							
						<div class="row region"  ng-show="activeIvrstep && activeIvrstep.name == 'callback'">
							<h4>Drop this call and start a new call to the device</h4>
						</div>
					</div>
					
					<div ng-show="isActivePanel('settings')">
						
						<h5>Console</h5>
						<div>
						These settings only apply to your current console window
						</div>
						<button ng-click="setupMode()" ng-class="{selected: issetup}">Setup</button>&nbsp;Show additional controls in the UI for setup before the performance<br/>
						<button ng-click="logoff()">Logoff</button>&nbsp;Log off from the console
						
						<h5>Server</h5>
						<div>These settings apply to the server, and will be reflected in all connected consoles</div>
						<button ng-click="heartbeat()" ng-class="{selected: setting.isheartbeat}">Heartbeat</button>&nbsp;Send a "heartbeat" sms every hour to check the switchboard is running<br/>
						<span ng-show="setting.isheartbeat">
							The number to send the heartbeat message to<br/>
							<input ng-model="setting.heartbeatnumber" placeholder="Phone number with international prefix"> 
							<button class="go" ng-click = "saveSettings()">Save</button><br/>
						</span>
						
						<input style="font-size:1em" ng-model="setting.callbackUrl" placeholder="URL with trailing / ">&nbsp;The fully-qualified URL that this server is hosted on, so Plivo can contact us&nbsp;<button class="go" ng-click = "saveSettings()">Save</button> <br/>			
						<button class="error" ng-click="resetDevices()">Reset</button>&nbsp;Remove all registered devices from the performance. This cannot be undone.<br/>					
						<button ng-click="autoRegister()" ng-class="{selected: setting.autoregister}">Registration</button>&nbsp;Can devices register themselves by phoning the switchboard?<br/>
						<button ng-click="ivrMode()" ng-class="{selected: setting.isivrmode}">IVR mode</button>&nbsp;Use an interactive voice response menu if enabled, or use goals for automation<br/>
						<span ng-show="setting.isivrmode">
						  <button ng-click="ivrSkipRegistration()" ng-class="{selected: setting.skipregistration}">Skip confirmation</button>&nbsp;Skip the confirmation of registration and start the IVR menu immediately<br/>
						</span>
						<button ng-click="toggleActivePanel('defaults')">Default messages...</button>
						<h5>Backup and restore</h5>
						<div>Download files for safekeeping or analysis</div>
						<button ng-click="saveFullAudit()">Save audit</button>&nbsp;Save the audit trail of all devices to a local CSV file&nbsp;<input type="checkbox" name="auditgroup" ng-model="setting.auditgroup"> group by device<br/>							
						<button ng-click="saveBackup()">Backup</button>&nbsp;Backup the current performance to a local zip file<br/>
						Restore a performance from a zipfile. <b>This will erase the current performance.</b>
						<br/><input type = "file" file-model = "myBackupFile"/>		
						<button class="error" ng-show="myBackupFile" ng-click = "uploadBackupFile()">Restore</button><br/>
						
					</div>
					
					<div ng-show="isActivePanel('defaults')">
						
						<h5>Default messages</h5>
						<h5>Use either the name of an audio file or any message to use text-to-speech</h5>			
							When not registered and switchboard registration is turned on
							<input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:1em" ng-model="setting.messageWelcome">
							When not registered and switchboard registration is turned off
							<input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:1em" ng-model="setting.messageCannotRegister">
							When something goes wrong
							<input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:1em" ng-model="setting.messageGenericError">
							When an unmapped IVR key has been pressed
							<input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:1em" ng-model="setting.messageInvalidKey">
							When the wrong button has been pressed during registration
							<input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:1em" ng-model="setting.messageMustConfirmRegistration">
							When a call hasn't been answered in time
							<input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:1em" ng-model="setting.messagePleaseWait">
							Registration successful when IVR is off
							<input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:1em" ng-model="setting.messageRegistrationComplete">
							Registration successful when IVR is on
							<input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:1em" ng-model="setting.messageRegistrationIvr">
							Unregistration successful
							<input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:1em" ng-model="setting.messageUnregistrationSuccessful">
							When an IVR step is waiting for a keypress but has exceeded the number of loops permitted
							<input class="u-full-width" placeholder="Name" id="nameInput" type="text" style="height:1em" ng-model="setting.messageGoodbye">
							<button class="wide" ng-click="saveSettings();toggleActivePanel('settings')">Save</button>				
					</div>
				</div>
			</div>	
			
			
		</div>

	</div>
</body>




</html>